body{
	height: auto;
	width: auto;
}

header{
	background-color: #282A2D;
	margin-bottom: 50px;
}

header h1{
	text-align: center;
	padding: 50px;
	color: white;
	font-size: 35px;
}

section{
	align-content: center;
}

section .ui.cards .card{
	margin: 0 auto;
}

.ui.horizontal.divider{
	font-size: 30px;
	margin: 100px;
	
}

.login-data{
	float: right;
	padding: 20px;
	border-style: hidden;
	height: auto;
	width: auto;
	background-color: white;
	border-radius: 10px;
	margin-top: 20px;
}
