html{
	scroll-behavior: smooth;
}
body{
	background-color: #0c0c0c;
	margin: 0;
	height: auto;
}
.sticky{
	position: fixed;
	top: 0;
	width: 100%;
	 background-image: linear-gradient(to right, #790202 , #000000); 
	height: 150px;
	z-index: 999;
}
.sticky h1{
	text-align: center;
	padding: 50px;
	color: white;
	font-size: 35px;
}
.hidden-content{
	display: block;
	margin: 300px;
}
section .ui.cards .card{
	margin: 0 auto;
}
.ui.horizontal.divider{
	font-size: 30px;
	margin: 100px;
	text-align: center;
}
.login-data{
	float: right;
	padding: 20px;
	background-color: white;
	margin: 10px;
	border-radius: 4px;
	position: relative;
	top: -100px;
}
/* BOTAO DE TOPO */
.paraotopo{
	border-radius: 50px 50px 50px;
   position: fixed;
   width: 50px;
   height: 50px;
   background: rgb(0, 0, 0);
   bottom: 20px;
   right: 50px;
   text-shadow: 1px 2px black;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
   color: white;
   font-size: 22px;  
   z-index: 999; 
   animation: shine 3s infinite;
}

@keyframes shine{
	10%{
		box-shadow: 0px 0px 10px 0px white;
	}

	50%{
		box-shadow: 0px 0px 13px 0px white;
	}

	100%{
		box-shadow: 0px 0px 0 17px 0px white;
	}


	
}





