@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

html{
	scroll-behavior: smooth;
	overflow-y: scroll;
	overflow-x: hidden;
}

body{
	width: 102vw;
	background-color: #0c0c0c;
	margin: 0;
	height: auto;
	overflow-y: hidden;
	
}

.sticky{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #0c0c0c;
	height: 110px;
	z-index: 999;
	border-style: solid;
	border-top-style: hidden;
	border-bottom-style: solid 1px;
	border-bottom-color: greenyellow;
}

.sticky h1{
	font-family: 'Urbanist', sans-serif;
	font-size: 70px;
	text-align: left;
	padding: 10px;
	color: greenyellow;
	text-shadow: -5px 1px 6px greenyellow;
}


.creators{
	margin: 0 auto;
	background-color: white;
	height: 50%;
	width: 50%;
	padding: 20px;
}

.close-animatedModal span{
	position: relative;
	top: 20px;
	left: 10px;
	margin: 0 auto;
	font-size: 45px;
	color: darkred;
}

.close-animatedModal span:hover{
	cursor: pointer;
}

.creators .creators-content .ui.card{
	margin: 0 auto;
}

#wallet{
	float: right;
}

/*Conteudo modal esquerdo*/

#left-content{
	margin: 0 auto;
	position: relative;
	top: 150px;
	left: 15%;
	float: left;
}

/* INPUT MONEY */


/*Conteudo modal direito*/
#right-content{
	margin: 0 auto;
	position: relative;
	top: 150px;
	right: 15%;
	float: right;
}

#hls:hover{
	cursor: pointer;
}

#zeka:hover{
	cursor: pointer;
}

.hidden-content{
	display: block;
	margin: 300px;
}
section .ui.cards .card{
	margin: 0 auto;
}
.ui.horizontal.divider{
	font-size: 30px;
	margin: 100px;
	text-align: center;
}
.login-data{
	display: flex;
	text-align: center;
	justify-content: center;
	float: right;
	border-style: hidden;
	padding: 15px;
	position: relative;
	top: -5.1em;
	margin-right: 10px;
	background-color: white;
	border-bottom-style: solid;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 150px;
	background-color: lightgreen;
}

.ui.search{
	position: relative;
	top: -15px;
}

/*mainpage category card*/

.sideMenuCategory{
	position: fixed;
	top: 40%;
	transform: translate(-102%);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: black;
	padding: 50px;
	width: 12%;
	font-size: 20px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: white;
	border: 1px solid greenyellow;
	transition: transform 1.2s;
}

.sideMenuCategory:hover{
	transform: translate(-10%);
}

.sideMenuCategory .column{
	padding-top: 10px;
}

.sideMenuCategory .column span:hover{
	color: greenyellow;
}

.open-close-element{
	position: absolute;
	top: -2px;
	right: -53px;
	color: greenyellow;
	cursor: pointer;
}

.open-close-element i{
	border: 1px;
	border-color: greenyellow;
	border-style: solid;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 15px;
	background-color: #0c0c0c;
}


.categoryCard div{
	padding: 10px;
}

/* BOTAO DE TOPO */
.paraotopo{
	border-radius: 50px 50px 50px;
	position: fixed;
	width: 50px;
	height: 50px;
	background-color: darkgreen;
	bottom: 20px;
	right: 50px;
	text-shadow: 1px 2px black;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: whitesmoke;
	animation: shine 5s infinite;
	z-index: 999;
}


.ui.inverted.vertical.footer.segment{
	z-index: 600;
	margin-top: 100px;
	text-align: center;
	background-color: darkgreen;
}




::-webkit-scrollbar {
	width: 10px;

}


::-webkit-scrollbar-track {
	background: #000;
}


::-webkit-scrollbar-thumb {
	background: greenyellow;
	border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
	background: #555;
}


