@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

*{
	scroll-behavior: smooth;
}

body{
	width: auto;
	height: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #454549;
	font-family: 'DotGothic16', sans-serif;
}

/*Titulo do site*/
/*Estilização prévia como teste*/
.title-header{
	margin-top: -75px;
	margin-left: -10px;
	font-size: 30px;
	height: 180px;
	width: 110%;
	background: linear-gradient(to right, #A0522D,#8B4513,#363636);
	transform: skewY(-1.5deg);
	color: #dddddd;
}

.title-header h1{
	transform: skewY(2deg);
	padding: 28px;
}
.title-header h1:after{
	margin-left: 20px;
	content:url(../imgs/Icon.png);
}
/*Estilização prévia como teste*/



/*Seleção do conteudo principal*/
.main-content{
	overflow: all;
	width: auto;
	height:auto;
	position: absolute;
	left: 2%;
	margin-top: 10%;
	column-count: auto;
}

/*Sub conteudo dos sites como titulo para categorias*/
.sub-content{
	margin-left: 100%;
	margin-bottom: auto;
	text-transform: uppercase;
	height: auto;
	width: auto;
}

/*.sub-content::after{
	content: "";
	position: absolute;
	width: 150px;
	height: 5px;
	margin-top: -15px;
	border-radius: 20px;
	background-color: #BDB76B;
	animation: changecolor 5s infinite;
}*/

.sub-content h2{
	color: white;
}

/*card*/

.content-card{
	/*position: absolute;*/
	background-color: red;
	height: auto;
	border-style: solid;
	width: 140px;
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
}

/*description card*/

.card-description{
	margin: 5px;
	text-align: left;
	text-transform: lowercase;

}

.card-description::before{
	content: "";
	position: absolute;
	height: 2px;
	background: pink;
	width: 80%;
	margin-left: -25px;
}

/*Menu lateral de link*/
.data-link{
	float: right;
	height: auto;
	width:13%;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	border-radius: 10px;
	padding: 30px;
}

.data-link h3{
	color: white;
	text-align: center;
}


/*Espaçamento entre cada link para menu lateral*/
.data-link li{
	text-decoration: none;
	padding:20px;
	margin: 0 auto; 
}
.data-link ul{
	list-style-type: none;
}
.data-link a{
	color: white;
	text-decoration: none;
}
.link-content:hover{
     background: #c0392b;
     border-radius: 5px;
     padding: 10px;
}



/*Animation para pseudoelemento*/
@keyframes changecolor{
	0%{
	background:#F4A460;	
	}
	10%{
		background: #CD853F;
	}

	40%{
		background:#D2691E;
	}
	50%{
		background:#A0522D;
	}
	100%{
		background:#B8860B;
	}
}




/*Personalização do scrollbar*/

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #1f1f1f; 
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #B22222; 
	border-radius: #696969;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #b5b5b5; 
}



/*Codigo para comportamento mobile*/