@font-face{
	font-family: Gameon; 
	src: url('../font/gameon.ttf');
}

#title{
	font-family: Gameon; 
	font-size: 70px;
}

body{
	background-color: #000000;
	margin: 0 auto;
	height: auto;
	width: 100%;
}

header{
	background-image: linear-gradient(to right, #790202 , #000000); 
	margin-bottom: 50px;
}

header h1{
	text-align: center;
	padding: 50px;
	color: white;
	font-size: 35px;
}

form{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	position: relative;
	align-content: center;
	width: 30%;
	left: calc(100% - 65%);
	border-style: solid;
	border-width: 1px;
	padding: 50px;
	border-radius: 10px;
	margin-top: 20px;
}

form h2{
	text-transform: uppercase;
	margin: 40px;
	text-align: center;
}

.position-button{
	position: relative;
	left: calc(100% - 65%);
	margin: 28px auto;
	margin-left: -12px;

}


